In [ ]:
pip install opendatasets

In [174]:
import opendatasets as od

In [2]:
dataset='https://www.kaggle.com/datasets/ankitbansal06/retail-orders/data'

In [ ]:
od.download(dataset) #downloading the dataset

In [177]:
import os

In [178]:
data_dir = './retail-orders'

In [ ]:
os.listdir(data_dir)

In [180]:
import pandas as pd

In [181]:
orders_df=pd.read_csv('orders.csv')

In [ ]:
print(orders_df.isnull().any().any()) #Returns True if there is any null value in the DataFrame first any check row and second any checks the columns

In [183]:
#orders_df=orders_df.dropna(subset=['column_name']) to remove the rows with null values

In [184]:
orders_df=orders_df.fillna(0) #all the null values in the dataframe is filled with 0

In [ ]:
print(orders_df.isnull().any().any())

In [186]:
orders_df.index.name='s.no' #giving name to the index column

In [ ]:
print(orders_df.columns) #checking column name to see if thereare any column name with space

In [188]:
orders_df.columns=orders_df.columns.str.replace(' ', '_')  #now we are replacing the spaces in the column name with '_'

In [ ]:
orders_df

In [190]:
orders_df.columns = orders_df.columns.str.lower()

In [ ]:
print(orders_df.columns)

In [192]:
columns_to_trim=['ship_mode', 'segment', 'country', 'city', 'state', 'region', 'category', 'sub_category']
#providing list of columns to trim spaces[note: give are the columns which are in text format as required]

In [193]:
orders_df.columns = orders_df.columns.str.lower()

In [194]:
for column in columns_to_trim:
    orders_df[column]=orders_df[column].str.rstrip()

In [195]:
orders_df['sale_price']=orders_df['list_price']-(orders_df['list_price']*orders_df['discount_percent']/100)

In [196]:
orders_df['discount']=orders_df['list_price']-orders_df['sale_price']

In [197]:
orders_df['profit']=orders_df['sale_price']-orders_df['cost_price']

In [ ]:
orders_df

In [199]:
orders1_df = orders_df.iloc[:, :10]

In [200]:
orders2_df = orders_df.iloc[:, 9:]

In [ ]:
orders2_df

In [ ]:
!pip install psycopg2

In [203]:
import psycopg2

In [204]:
conn=psycopg2.connect(
    dbname='Retail_orders',
    user='postgres',
    password='12345',
    host='localhost',
    port='5432')

In [205]:
from sqlalchemy import create_engine

In [206]:
engine=create_engine('postgresql://postgres:12345@localhost:5432/Retail_orders')

In [ ]:
orders1_df.to_sql('orders_table1', con=engine, if_exists='replace', index=False)

In [ ]:
orders2_df.to_sql('orders_table2', con=engine, if_exists='replace', index=False)

In [ ]:
orders_df.to_sql('orders_table', con=engine, if_exists='replace', index=False)

In [ ]:
print(orders_df.duplicated().sum())

In [ ]:
pip install streamlit

In [244]:
import streamlit as st

In [213]:
def query_1():
    return "SELECT product_id,profit FROM orders_table ORDER BY profit DESC
LIMIT 10;"

In [214]:
def query_2():
    return "SELECT orders_table1.city, SUM(orders_table2.profit) AS total_profit FROM orders_table1 JOIN orders_table2 ON orders_table1.category = orders_table2.category GROUP BY orders_table1.city ORDER BY total_profit DESC LIMIT 5;"

In [215]:
def query_3():
    return " SELECT category, SUM(discount) AS total_discount FROM orders_table2 GROUP BY category;"

In [216]:
def query_4():
    return "SELECT category, AVG(sale_price) AS average_sale_price FROM orders_table GROUP BY category;"

In [217]:
def query_5():
    return"SELECT orders_table1.region, AVG(orders_table2.sale_price) AS average_sale_price FROM orders_table1 JOIN orders_table2 ON orders_table1.category = orders_table2.category GROUP BY orders_table1.region ORDER BY average_sale_price DESC LIMIT 4;"

In [218]:
def query_6():
    return "SELECT category, SUM(profit) AS total_profit FROM orders_table2 Group by category;"

In [219]:
def query_7():
    return" SELECT orders_table1.segment, SUM(orders_table2.quantity) AS total_quantity FROM orders_table1 JOIN orders_table2 ON orders_table1.category = orders_table2.category GROUP BY orders_table1.segment ORDER BY total_quantity DESC LIMIT 3;"

In [220]:
def query_8():
    return"SELECT orders_table1.region, AVG(orders_table2.discount_percent) AS average_discount_percent FROM orders_table1 JOIN orders_table2 ON orders_table1.category=orders_table2.category Group by orders_table1.region;"

In [221]:
def query_9():
    return "SELECT category, SUM(profit) AS total_profit FROM orders_table2 GROUP BY category ORDER BY total_profit DESC LIMIT 1;"

In [222]:
def query_10():
    return "SELECT EXTRACT(YEAR FROM orders_table1.order_date) AS order_year, SUM(orders_table2.sale_price*orders_table2.quantity) AS total_revenue FROM orders_table1 JOIN orders_table2 ON orders_table1.category=orders_table2.category GROUP BY order_year ORDER BY total_revenue DESC;"

In [238]:
def app():
    query_choice = st.selectbox("Choose a query to run", [
        "Query 1: Find top 10 highest revenue generating products",
        "Query 2: Find the top 5 cities with the highest profit margins",
        "Query 3: Calculate the total discount given for each category",
        "Query 4: Find the average sale price per product category",
        "Query 5: Find the region with the highest average sale price",
        "Query 6: Find the total profit per category",
        "Query 7: Identify the top 3 segments with the highest quantity of orders",
        "Query 8: Determine the average discount percentage given per region",
        "Query 9: Find the product category with the highest total profit",
        "Query 10: Calculate the total revenue generated per year" 
    ])
    if query_choice == "Query 1: Find top 10 highest revenue generating products":
        query = query_1()
    elif query_choice == "Query 2: Find the top 5 cities with the highest profit margins":
        query = query_2()
    elif query_choice == "Query 3: Calculate the total discount given for each category":
        query = query_3()
    elif query_choice == "Query 4: Find the average sale price per product category":
        query = query_4()
    elif query_choice == "Query 5: Find the region with the highest average sale price":
        query = query_5()
    elif query_choice == "Query 6: Find the total profit per category":
        query = query_6()
    elif query_choice == "Query 7: Identify the top 3 segments with the highest quantity of orders":
        query = query_7()
    elif query_choice == "Query 8: Determine the average discount percentage given per region":
        query = query_8()
    elif query_choice == "Query 9: Find the product category with the highest total profit":
        query = query_9()
    elif query_choice == "Query 10: Calculate the total revenue generated per year":
        query = query_10()
    st.write("Executing query:", query_choice) 
    st.write("SQL query:", query)