In [287]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\nandhini\appdata\roaming\python\python312\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.66.5)
Requirement already satisfied: kaggle in c:\users\nandhini\appdata\roaming\python\python312\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (24.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.7)
Note: you may need to restart the kernel to use updated packages.

In [288]:
import opendatasets as od #importing opendatasets so that we can directly access the CSV file

In [289]:
dataset='https://www.kaggle.com/datasets/ankitbansal06/retail-orders/data' #providing link to fetch the dataset

In [290]:
od.download(dataset) #downloading the dataset

Skipping, found downloaded files in ".\retail-orders" (use force=True to force download)

In [291]:
import os

In [292]:
data_dir = './retail-orders'

In [293]:
os.listdir(data_dir)

['.ipynb_checkpoints', 'orders.csv']

In [294]:
import pandas as pd

In [295]:
orders_df=pd.read_csv('orders.csv')

In [296]:
print(orders_df.isnull().any().any()) #Returns True if there is any null value in the DataFrame first any check row and second any checks the columns

True

In [297]:
#orders_df=orders_df.dropna(subset=['column_name']) to remove the rows with null values

In [298]:
orders_df=orders_df.fillna(0) #all the null values in the dataframe is filled with 0

In [299]:
print(orders_df.isnull().any().any())

False

In [300]:
orders_df.index.name='s.no' #giving name to the index column

In [301]:
print(orders_df.columns) #checking column name to see if thereare any column name with space

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [302]:
orders_df.columns=orders_df.columns.str.replace(' ', '_')  #now we are replacing the spaces in the column name with '_'

In [303]:
orders_df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent
s.no,,,,,,,,,,,,,,,,
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [304]:
orders_df.columns = orders_df.columns.str.lower()

In [305]:
print(orders_df.columns)

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [306]:
columns_to_trim=['ship_mode', 'segment', 'country', 'city', 'state', 'region', 'category', 'sub_category']
#providing list of columns to trim spaces[note: give are the columns which are in text format as required]

In [307]:
orders_df.columns = orders_df.columns.str.lower()

In [308]:
for column in columns_to_trim:
    orders_df[column]=orders_df[column].str.rstrip()

In [309]:
orders_df['sale_price']=orders_df['list_price']-(orders_df['list_price']*orders_df['discount_percent']/100)

In [310]:
orders_df['discount']=orders_df['list_price']-orders_df['sale_price']

In [311]:
orders_df['profit']=orders_df['sale_price']-orders_df['cost_price']

In [312]:
orders_df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,sale_price,discount,profit
s.no,,,,,,,,,,,,,,,,,,,
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [313]:
orders1_df = orders_df.iloc[:, :10]

In [314]:
orders2_df = orders_df.iloc[:, 9:]

In [315]:
orders2_df

,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,sale_price,discount,profit
s.no,,,,,,,,,,
0,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [316]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\nandhini\appdata\roaming\python\python312\site-packages (2.9.10)

In [317]:
import psycopg2

In [318]:
conn=psycopg2.connect(
    dbname='Retail_orders',
    user='postgres',
    password='12345',
    host='localhost',
    port='5432')

In [319]:
from sqlalchemy import create_engine

In [320]:
engine=create_engine('postgresql://postgres:12345@localhost:5432/Retail_orders')

In [321]:
orders1_df.to_sql('orders_table1', con=engine, if_exists='replace', index=False)

994

In [322]:
orders2_df.to_sql('orders_table2', con=engine, if_exists='replace', index=False)

994

In [323]:
orders_df.to_sql('orders_table', con=engine, if_exists='replace', index=False)

994

In [324]:
print(orders_df.duplicated().sum())

0